h1 {
    text-align: center;
    width: 39%;
    margin: auto;
    font-size: 2em;
    font-weight: bold;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; 
}

label {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
}

form input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}

form button[type="submit"] {
    padding: 10px 20px;
    background-color: #8e9ba6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease; 
}

form button[type="submit"]:hover {
    background-color: #4f5a67;
}